body {
    height: 97vh;
    width: 97.5vw;
    justify-items: center;
    align-content: center;
    font-family: 'font-sans', sans-serif, Arial, Helvetica;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 2em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
    font-weight: 500;
}

.score {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

.theme {
    display: none;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 1em;
}

.theme:hover {
    background-color: #3b82f6;
    color: white;
    transition: 0.5s;
}

.themeButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.turn {
    font-size: 1.5em;
    margin-bottom: 10px;
}

body.dark {
    background-color: #111827;
    color: white;
}

button.theme.dark {
    background-color: #374151;
    color: #d1d5d2;
}

.theme.dark:hover {
    background-color: #3b82f6;
    color: white;
    transition: 0.5s;
}

body.neon {
    background-color: black;
    color: #4ade80;
}

.cell.neon {
    border: 1px solid #ec4899;
}

button.theme.neon {
    background-color: #1f2937;
    color: #ec4899;
}

.theme.neon:hover {
    background-color: #ec4899;
    color: white;
    transition: 0.5s;
}

.cell.X-hover:hover:empty::before {
    content: 'X';
    position: absolute;
    color: lightcoral;
    opacity: 0.5;
}

.cell.O-hover:hover:empty::before {
    content: 'O';
    position: absolute;
    color: rgb(107, 199, 230);
    opacity: 0.5;
}

dialog {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    min-width: 25vw;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

dialog input, dialog button {
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1em;
}

dialog input{
    margin-bottom: 10px;
}

dialog::backdrop {
    background-color: white;
}

.startGame:hover {
    background-color: #3b82f6;
    color: white;
    border: 0px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.startGame {
    border: 0px;
}

dialog.dark {
    background-color: #111827;
    color: white;
} 

dialog.dark::backdrop {
    background-color: #111827;
}

.end-screen.dark button {
    background-color: #374151;
    color: lightgray;
    border-radius: 5px;
    border: 0px;
}

.end-screen.dark button:hover {
    background-color: #3b82f6;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.playerNameForm.dark > input, .playerNameForm.dark > button {
    background-color: #374151;
    color: lightgray;
    border-radius: 5px;
    border: 0px;
}

.playerNameForm.dark button:hover {
    background-color: #3b82f6;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}



/* dialog.neon {
    background-color: black;
    color: #4ade80;
    border-color: #ec4899;
} */


.end-screen {
    text-align: center;
    gap: 10px;
    position: relative;
    padding-top: 40px;
}

.end-screen div:nth-child(2) {
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: 500;
}

.end-screen button {
    border: 0px;
}

.end-screen button:hover {
    background-color: #3b82f6;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
}








dialog.neon {
    background-color: black;
    color: #30d780;
} 

dialog.neon::backdrop {
    background-color: black;
}

.end-screen.neon button {
    background-color: #1f2937;
    color: #ec4899;
    border-radius: 5px;
    border: 0px;
}

.end-screen.neon button:hover {
    background-color: #ec4899;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.playerNameForm.neon > input, .playerNameForm.neon > button {
    background-color: #374151;
    color: #30d780;
    border-radius: 5px;
    border: 0px;
}

.playerNameForm.neon > button {
    color: #ec4899;
}

.playerNameForm.neon button:hover {
    background-color: #ec4899;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}






/* From Uiverse.io by javierBarroso */ 
.closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    background-color: rgb(211, 21, 21);
}

.closeButton:active {
    background-color: rgb(130, 0, 0);
}

.closeButton .X,
.closeButton .Y {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.closeButton .X {
    transform: rotate(45deg);
}

.closeButton .Y {
    transform: rotate(-45deg);
}

/* Remove the tooltip styles */
.closeButton .close {
    display: none;
}
  